body {
  background-color: white;
  font-size: 20px;
  font-family: 'Segoe UI';
}

h1, h2, h3, h4, h5, h6{color: black;}
a {color: blue;}
a:hover {text-decoration: none;}

@media screen and (max-width: 600px)
{
  body {font-size: 16px;}
}